@import '../../node_modules/normalize.css/normalize.css';
@import './components/_reset';
@import './components/variables';
@import './components/mixins';
@import './components/typography';
@import './components/logo';
@import './components/main_manu';
@import './components/header';
@import './components/about';
@import './components/offer';
@import './components/gallery';
@import './components/footer';


body {
    position: relative;
    width: 100%;
    max-width: 2440px;
    margin: 0 auto;
    background-color: $main-bgc;
    min-height: 100vh;
    font-family: arial, sans-serif;
    font-size: 10px;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}