<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatibile" content="IE=edge">
    <script src="https://kit.fontawesome.com/ea48605765.js" crossorigin="anonymous"></script>
    <title>AutoKonkret</title>
    <meta 
      name="description" 
      content="Nasze doświadczenie oraz podejście dydaktyczne 
      pozwala na dostosowanie toku nauki do waszych 
      indywidualnych predyspozycji i potrzeb."
    >
    <meta 
      name="keywords" 
      content="torun, toruń, szkoła, szkola, nauki, jazdy, toruniu, Toruniu, tanio, prawojazdy, 
      prawo, jazdy, auto, samochód samochod, driving, license, o.s.k, O.S.K, ośrodek, osrodek, 
      szkolenia, kierowcow, kierowców, doswiadczenie, doświadczenie, auto, konkret, 
      auto-konkret, wschodnia, toyota"
    >
    <meta name="robots" content="follow, index">
    <meta name="author" content="lubomskirafal.pl">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="data/site.webmanifest">
    <link rel="mask-icon" href="#" color="#ffffff">
    <meta property="og:url" content="www.yours-name.com">
    <meta property="og:title" content="AutoKonkret.pl">
    <meta property="media-image" content="#">
    <meta property="ogimage:width" content="200px">
    <meta 
      property="og:description" 
      content="Nasze doświadczenie oraz podejście dydaktyczne 
      pozwala na dostosowanie toku nauki do waszych 
      indywidualnych predyspozycji i potrzeb."
    >
    <meta property="og:type" content="webpage">

    
  </head>

  <body>
    <nav class="mainManu">
      
      <div class="wrapper">
        
        <div class="logo">
          <img class="logo__img" src="images/favicons/safari-pinned-tab.svg" alt="logo">
          <span class="logo__text">AutoKonkret</span>
        </div>

        <ul class="manu">
          <li></li>
          <li class="manu__item">
            <a href="#" class="manu__item-link">główna</a>
          </li>

          <li class="manu__item">
            <a href="#" class="manu__item-link">o nas</a>
          </li>

          <li class="manu__item">
            <a href="#" class="manu__item-link">oferta</a>
          </li>

          <li class="manu__item">
            <a href="#" class="manu__item-link">galeria</a>
          </li>

          <li class="manu__item">
            <a href="mailto:twojemail@twoja nazwa.pl" class="manu__item-link">kontakt</a>
          </li>

        </ul>

          <button class="hamburger">

            <div class="hamburger__box">
              <span class="hamburger__inner"></span>
            </div>

          </button>

      </div>
    </nav>

    <header class="header">

      <div class="background">
        <div class="background__content"></div>
      </div>

      <div class="wrapper">
        <div class="welcome">
          <hgroup class="welcome__titles">
            <h1>Witaj w szkole nauki jazdy AutoKonkret</h1>
            <p>Zapoznaj się z ofertą i zapisz się jeszcze dziś</p>
          </hgroup>
          <button class="welcome__button">
            <a href="mailto:kontakt@lubomskirafal.pl" target="blank">Zapisz się !</a>
          </button>
        </div>
      </div>

      <button data-target="#about" class="goDown-btn">
        <div class="goDown-btn__box">
          <span class="goDown-btn__inner fas fa-chevron-down"></span>
          <span class="goDown-btn__inner fas fa-chevron-down"></span>
          <span class="goDown-btn__inner fas fa-chevron-down"></span>
        </div>
      </button>

    </header>

    <main class="main">

    </main>
    <footer class="footer">
      <div class="wrapper">

        <div class="footer__media">
          <a href="https://facebook.com/WebDev-wwwlubomskirafalpl-100742734819435/" target="_blank">
            <span class="fab fa-facebook"></span>
          </a>

          <a href="https://linkedin.com/in/lubomskirafal" target="_blank">
            <span class="fab fa-linkedin-in"></span>
          </a>
          <a href="mailto:kontakt@lubomskirafal.pl">
            <span class="far fa-envelope"></span>
          </a>
        </div>

        <div class="footer__copy">
          Copyright <sup>&copy</sup> AutoKonkret.pl
        </div>

        <div class="footer__madeBy">
          <div class="footer__madeBy-box">
            <span class="footer__madeBy-title">Wykonanie </span>
            <a 
              href="index.html"
              class="footer__madeBy-link"
            >
              <img 
                src="images/favicons/lubomski-safari-pinned-tab.svg"
                class="footer__madeBy-img"
              > 
              lubomskirafal.pl
            </a>
          </div>
        </div>

        <div class="footer__cookies">
            <a 
              href="#" 
              target="blank"
              class="footer__cookies-link">
              Polityka Cookies
            </a>
        </div>

      </div>
    </footer>
  </body>

</html>
