<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatibile" content="IE=edge">
    <script src="https://kit.fontawesome.com/ea48605765.js" crossorigin="anonymous"></script>
    <title>YourTitle</title>
    <meta 
      name="description" 
      content=""
    >
    <meta 
      name="keywords" 
      content=""
    >
    <meta name="robots" content="follow, index">
    <meta name="author" content="lubomskirafal.pl">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="data/site.webmanifest">
    <link rel="mask-icon" href="#" color="#ffffff">
    <meta property="og:url" content="www.yours-name.com">
    <meta property="og:title" content="">
    <meta property="media-image" content="images/car-1149997_1280.jpg">
    <meta property="ogimage:width" content="200px">
    <meta 
      property="og:description" 
      content=""
    >
    <meta property="og:type" content="webpage">

    
  </head>

  <body>
    <h2 class="hidden">YourName</h2>
    <nav class="mainManu">
      
      <div class="wrapper">
        <h2 class="hidden">Nawigacja</h2>
        <div class="logo">
          <a href="index.html">
            <img class="logo__img" src="" alt="logo">
            <span class="logo__text">
              YourLogo
            </span>
          </a>
        </div>

        <ul class="manu">
          <li class="manu__item"></li>
          <li class="manu__item">
            <a 
              href="#"
              class="manu__item-link"
              data-target=".header"
              title="Strona główna">main
            </a>
          </li>

          <li class="manu__item">
            <a 
              href="#" 
              class="manu__item-link"
              data-target=".about"
              title="O nas"
              >about
            </a>
          </li>

          <li class="manu__item">
            <a 
              href="#" class="manu__item-link"
              data-target=".offer"
              title="Oferta"
              >offer
            </a>
          </li>

          <li class="manu__item">
            <a 
              href="#" class="manu__item-link"
              data-target=".gallery"
              title="Galeria"
              >gallery
            </a>
          </li>

          <li class="manu__item">
            <a 
              href="#" class="manu__item-link"
              data-target=".contact"
              title="Kontakt"
              >contact
            </a>
          </li>

        </ul>

        <button class="hamburger">

          <div class="hamburger__box">
            <span class="hamburger__inner"></span>
          </div>

        </button>

      </div>
    </nav>

    <header class="header">

      <div class="background">
        <div class="background__content"></div>
      </div>

      <div class="wrapper">
        <div class="welcome">
          <hgroup class="welcome__titles">
            <h1>Hallo. Welcome in our side</h1>
            <p>Lorem ipsum dolor sit.</p>
          </hgroup>
          <button class="welcome__button">
            <a href="mailto:miroslaw.paluszkiewicz@wp.pl" target="blank">Sign up !</a>
          </button>
        </div>
      </div>

      <button class="goDown-btn">
        <div class="goDown-btn__box" data-target=".offer">
          <span class="goDown-btn__inner fas fa-chevron-down" data-target=".offer"></span>
          <span class="goDown-btn__inner fas fa-chevron-down" data-target=".offer"></span>
          <span class="goDown-btn__inner fas fa-chevron-down" data-target=".offer"></span>
        </div>
      </button>

    </header>

    <main class="main">
      <section class="about">
        <div class="wrapper">
          <div class="about__box about__box--title">
            <h2 class="about__title">About</h2>
          </div>

          <div class="about__wrapper">
            <div class="about__box-wrapper">
              <div class="about__box">
                <p class="about__content-title">loprem</p>
                <p class="about__content">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto commodi delectus, culpa assumenda consectetur ex fuga id soluta repellat aut.
                </p>
              </div>

              <div class="about__box">
                <p class="about__content-title">Lorem, ipsum dolor.</p>
                <p class="about__content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, illum quia tenetur tempore ratione earum inventore laborum ad dolorem beatae cum molestias. Qui quo ipsum placeat illum? Veritatis, praesentium nobis?
                </p>
              </div>

              <div class="about__box">
                <p class="about__content-title">lorem</p>
                <p class="about__content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam debitis, necessitatibus aspernatur tenetur, consectetur itaque deleniti blanditiis quos nam optio quidem, fugit sed minima porro reprehenderit aut quis autem ut.
                </p>
              </div>
            </div>

            <div class="about__box about__box--img">
              <img class="about__img" src="images/car-1149997_1280.jpg" alt="auto">
            </div>
          </div>
        </div>
      </section>

      <section class="offer">
          <div class="wrapper">

            <div class="offer__box offer__box--title">
              <h2 class="offer__title">Offer</h2>
            </div>

            <div class="offer__boxes">

              <div class="offer__box">
                  <p class="offer__content-title">
                    Lorem, ipsum.! 
                  </p>

                  <ul class="offer__box-list">
                    <li class="offer__box-list-item">
                      Lorem, ipsum dolor.
                    </li>

                    <li class="offer__box-list-item">
                      Lorem ipsum dolor sit.
                    </li>
                    <li class="offer__box-list-item">
                      Lorem ipsum dolor sit amet.
                    </li>
                    <li class="offer__box-list-item">
                      Lorem ipsum dolor sit amet consectetur.
                    </li>
                  </ul>
              </div>

              <div class="offer__box">
                  <p class="offer__content-title">
                    lorem2  
                  </p>

                  <ul class="offer__box-list">
                    <li class="offer__box-list-item">
                      Lorem, ipsum dolor.
                    </li>

                    <li class="offer__box-list-item">
                      Lorem ipsum dolor sit amet.
                    </li>

                    <li class="offer__box-list-item">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, iusto?
                    </li>

                    <li class="offer__box-list-item">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </li>

                    <li class="offer__box-list-item">
                      Lorem, ipsum dolor sit amet consectetur adipisicing.<time>07:00</time> - <time>23:00</time>.
                      Lorem ipsum dolor sit.
                    </li>
                  </ul>
              </div>

              <div class="offer__box">
                  <p class="offer__content-title">Lorem ipsum dolor sit.
                  </p>
                  <p class="offer__content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem quos impedit beatae sit optio voluptatum. Quae minima explicabo error adipisci?
                </p>
              </div>

            </div>

            <button class="welcome__button--offer">
              <a href="mailto:miroslaw.paluszkiewicz@wp.pl" target="blank">Sign up !</a>
            </button>

          </div>
      </section>

      <section class="gallery">
        <div class="wrapper">
          <h2 class="hidden">Galeria</h2>
          <a 
            class="gallery__link" 
            href="images/car-1149997_1280.jpg"
            >
            <img class="gallery__link-img" alt="img" src="images/car-1149997_1280.jpg">
          </a> 

          <a 
            class="gallery__link" 
            href="images/car-1149997_1280.jpg"
            >
            <img class="gallery__link-img" alt="img" src="images/car-1149997_1280.jpg">
          </a> 

          <a 
            class="gallery__link" 
            href="images/car-1149997_1280.jpg"
            >
            <img class="gallery__link-img" alt="img" src="images/car-1149997_1280.jpg">
          </a> 

          <a 
            class="gallery__link" 
            href="images/car-1149997_1280.jpg"
            >
            <img class="gallery__link-img" alt="img" src="images/car-1149997_1280.jpg">
          </a> 

          <a 
            class="gallery__link" 
            href="images/car-1149997_1280.jpg"
            >
            <img class="gallery__link-img" alt="img" src="images/car-1149997_1280.jpg">
          </a> 

          <a 
            class="gallery__link" 
            href="images/car-1149997_1280.jpg"
            >
            <img class="gallery__link-img" alt="img" src="images/car-1149997_1280.jpg">
          </a> 

          <a 
            class="gallery__link" 
            href="images/car-1149997_1280.jpg"
            >
            <img class="gallery__link-img" alt="img" src="images/car-1149997_1280.jpg">
          </a> 

          <a 
            class="gallery__link" 
            href="images/car-1149997_1280.jpg"
            >
            <img class="gallery__link-img" alt="img" src="images/car-1149997_1280.jpg">
          </a> 

          <a 
            class="gallery__link" 
            href="images/car-1149997_1280.jpg"
            >
            <img class="gallery__link-img" alt="img" src="images/car-1149997_1280.jpg">
          </a> 

        </div>  
      </section>

      <div class="paralax__wrapper">
        <p>Lorem ipsum dolor</p>
        <div class="paralax">
          <div class="paralax__box">
            <div class="paralax__inner"></div>
          </div>
        </div>
      </div>

      <section class="contact">
        <div class="wrapper">

          <div class="contact__box contact__box--title">
            <h2 class="contact__title">contact</h2>
          </div>

          <div class="contact__boxes">
            <div>
              <div class="contact__box">
                <p class="contact__box-title">Write to us</p>
                <p>
                  <a 
                    class="contact__box-link"
                    href="mailto:yourname@yourname.com"
                    title="Napisz">Email: 
                    yourname@yourname.com
                  </a>
                </p>

                <p>
                  <a 
                    class="contact__box-link"
                    href="tel:23 327 766 092"
                    title="Zadzwoń">
                    tel: 23 327 766 092
                  </a>
                </p>  
              </div>

              <div class="contact__box">
                <p class="contact__box-title">Find us</p>
                <address>
                  <p class="contact__box-text">YourName</p>
                  <p><a 
                    class="contact__box-link"
                    target="blank"
                    href="https://www.google.pl/maps/place/Elm+St,+Ellesmere+Port,+Wielka+Brytania/@53.2896885,-2.9018099,17z/data=!3m1!4b1!4m5!3m4!1s0x487ade15e3b25631:0x1849c15890c01e90!8m2!3d53.2896885!4d-2.8996212"
                    title="Nawiguj">
                    Ul. Wschodnia 37a
                  </a></p>
                  <p class="contact__box-text">Your City</p>
                </address>
              </div>
          </div>

            <iframe 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9539.96580468527!2d-2.9083544988568097!3d53.28968818104305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487ade15e3b25631%3A0x1849c15890c01e90!2sElm%20St%2C%20Ellesmere%20Port%2C%20Wielka%20Brytania!5e0!3m2!1spl!2spl!4v1601881675398!5m2!1spl!2spl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" 
              class="contact__box-map"
              width="100%" 
              frameborder="0" 
              style="border:0;" 
              allowfullscreen="" 
              aria-hidden="false" 
              tabindex="0">
            </iframe>

          </div>
        </div>
      </section>
    </main>

    <button  data-target=".header" class="goTopBtn">
      <div data-target=".header" class="goTopBtn__box">
        <span data-target=".header" class="goTopBtn__inner fas fa-chevron-up"></span>
      </div>
    </button>

    <footer class="footer">
      <div class="wrapper">

        <div class="footer__media">
          <a href="https://www.facebook.com" target="_blank">
            <span class="fab fa-facebook"></span>
          </a>

          <a href="mailto:yourname@yourname.com">
            <span class="far fa-envelope"></span>
          </a>
        </div>

        <div class="footer__copy">
          Copyright <sup>&copy;</sup> yourName
        </div>

        <div class="footer__madeBy">
          <div class="footer__madeBy-box">
            <span class="footer__madeBy-title">Made by </span>
            <a 
              href="https://lubomskirafal.pl"
              target="blank"
              class="footer__madeBy-link"
            >
              <img 
                src="images/favicons/lubomski-safari-pinned-tab.svg"
                class="footer__madeBy-img"
              > 
              lubomskirafal.pl
            </a>
          </div>
        </div>

        <div class="footer__cookies">
            <a  
              class="footer__cookies-link">
              Privacy policy
            </a>
        </div>

      </div>
    </footer>

    <section class="privacy-modal">
      <div class="wrapper">
        <div class="privacy-modal__content">
          
          <h4>Polityka prywatności</h4>

          <h5>§ 1 Definicje</h5>
          <ul>
              <li>
                  <p>
                    <strong>Serwis</strong> - serwis internetowy działający pod adresem auto-konkret.pl
                  </p>
              </li>
              <li>
                  <p><strong>Serwis zewnętrzny</strong> - serwisy internetowe partnerów, usługodawców lub usługobiorców Administratora</p>
              </li>
              <li>
                  <p><strong>Administrator</strong> osoba fizyczna przechowująca i uzyskująca dostęp do informacji w urządzeniach Użytkownika</p>
              </li>
              <li>
                  <p><strong>Użytkownik</strong> - osba fizyczna, dla której Administrator świadczy usługi drogą elektroniczna za pośrednictwem Serwisu.</p>
              </li>
              <li>
                  <p><strong>Urządzenie</strong> - elektroniczne urządzenie wraz z oprogramowaniem, za pośrednictwem, którego Użytkownik uzyskuje dostęp do Serwisu</p>
              </li>
              <li>
                  <p><strong>Cookies (ciasteczka)</strong> - dane tekstowe gromadzone w formie plików zamieszczanych na Urządzeniu Użytkownika</p>
              </li>
          </ul>

          <p>
          Korzystając z naszej strony internetowej i dostępnych na niej serwisów, usług i funkcjonalności, powierzasz nam swoje dane osobowe. W ramach poszczególnych usług lub funkcjonalności może się zdarzyć, że powierzysz je podmiotom, z którymi współpracujemy bezpośrednio lub pośrednio, przede wszystkim w ramach zapewnienia usług na najwyższym poziomie, jak i również w ramach działań marketingowych.
          </p>

          <p>
          Przetwarzając Państwa dane opieramy się o przepisay rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z 27.04.2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych, Dz. U. UE. L. z 2016 r. Nr 119, str. 1) – zwanego dalej RODO, jak również przepisach prawa krajowego, w tym ustawy z dnia 10 maja 2018 r. o ochronie danych osobowych
          </p>

          <h5> §2 Dane przetwarzane</h5>

          <p>
            Dane przetważane w ramach serwisu to najczęściej dane niezbędne do kontaktu z nami  np.imię i nazwisko, adres e-mail, numer telefonu, adres. Przetwarzamy również dane, które pozostawiasz w ramach poruszania się po naszej stronie, m.in. te, które pozostawiasz w tzw. plikach cookies. W razie wątpliwości co do zakresu zbieranych danych, możesz w każdej chwili zwrócić się do nas z pytaniem o zakres przetwarzanych danych.
          </p>

          <h5> §3 Administrator Danych Osobowych</h5>

          <p>
             Twoich danych osobowych jest: ...  z siedzibą <address>...</address>,  o numerze identyfikacji podatkowej NIP: ...,  tel:  ..., e-mail: ... .
          </p>

          <p>
            Odbiorcą Państwa danych osobowych będą lub mogą być banki lub ubezpieczyciele działający w naszym imieniu, a także organy ścigania, sądy oraz organy administracji publicznej.
          </p>

          <p>
            Jeżeli dojdzie do przekazania Państwa danych innym podmiotom, niezwłocznie Państwa o tym poinformujemy poprzez wiadomość elektroniczną, komunikat na stronie internetowej lub informację o zmianie treści niniejszej Polityki.
          </p>

          <h5> §4 Inspektor Ochrony Danych</h5>

          <p>
            Jednakże w razie jakichkolwiek pytań dotyczących przetwarzania danych osobowych oraz korzystania z praw związanych z tym przetwarzaniem prosimy o kontakt poprzez adres email, telefonicznie lub osobisty w siedzibie firmy.
          </p>  

          <h5> §5 Cele i podstawy prawne przetwarzania</h5>

          <p>Przetwarzamy Państwa dane w następujących celach i zgodnie z następującymi podstawami prawnymi:</p>

        <p>W celu :</p>

        <ul>
          <li>świadczenia usług na rzecz swoich Klientów</li>
          <li>rozstrzygania sporów, dochodzenia roszczeń i rozpatrywania reklamacji</li>
          <li>marketingu usług AutoKonkret</li>
          <li>prowadzenia czynności analitycznych i statystycznych</li>
          <li>optymalizacji oferowanych usług i produktów</li>
          <li>badania satysfakcji Klientów oraz poziomu zadowolenia naszych Klientów z oferowanych usługi i produktów</li>
          <li>zapewnienia bezpieczeństwa teleinformatycznego związanego z witryną</li>
          <li>
            w celu wykonania umów zawieranych przez nas z Klientami, w celu współpracy z dostawcami i innymi podmiotami, z którymi współpracujemy w ramach prowadzonej działalności (podstawa prawna art. 6 ust. 1 lit. b RODO)
          </li>
          <li>
            w celu realizacji obowiązku prawnego ciążącego na nas wynikającego z poszczególnych przepisów prawnych (podstawa prawna art. 6 ust. 1 lit. c RODO)
          </li>
          <li>
            ponadto, w związku z prowadzeniem przez nas monitoringu wizyjnego na terenie firmy informujemy, że zbieramy Państwa dane osobowe w postaci Państwa wizerunku, które są zbierane w celach wynikających z prawnie uzasadnionych interesów realizowanych przez nas jako administratora danych, tj. zapewnienia bezpieczeństwa pracowników, Klientów oraz ich mienia oraz rozstrzygania sporów, dochodzenia roszczeń i rozpatrywania reklamacji (podstawa prawna art. 6 ust. 1 lit. f RODO)
          </li>
        </ul>

        <h5> §6 Dobrowolność podania danych</h5>

        <p>
          Udostępnienie danych osobowych jest dobrowolne, proszę jednak pamiętać, iż w niepodanie danych oznaczonych jako niezbędne uniemożliwi odpowiedź na Państwa zapytanie lub uniemożliwi wykonanie umowy.
        </p>

        <p> §7 Odbiorcy danych</p>

        <p>
          Państwa dane mogą być przekazywane podmiotom przetwarzającym dane osobowe na nasze zlecenie, zgodnie z powyższą listą – ważne jest, że te podmioty przetwarzają dane na podstawie umowy z nami i wyłącznie zgodnie z naszymi poleceniami.
        </p>

        <p>
          Państwa dane mogą być również przekazane podmiotom uprawnionym do ich uzyskania na podstawie obowiązujących przepisów prawa np. sądom lub organom ścigania w razie zgłoszenia przez organ żądania na odpowiedniej podstawie prawnej (np. dla potrzeb toczącego się postępowania karnego lub cywilnego).
        </p>

        <p>
          Państwa dane mogą być, w niektórych przypadkach przekazywane do odbiorców z państw trzecich tj. z państw spoza Europejskiego Obszaru Gospodarczego (Unia Europejska + Islandia, Liechtenstein i Norwegia), w szczególności jeżeli będzie to niezbędne dla świadczenia usług na Państwa rzecz lub jeżeli będzie to wynikało z innej podstawy prawnej.
        </p> 

        <h5> §8 Prawa związane z przetwarzaniem danych osobowych</h5>

        <p>Przysługuje Państwu prawo do:</p>

        <ul>
          <li>dostępu do Państwa danych, uzyskania kopii danych oraz prawo ich sprostowania</li>
          <li>żądania usunięcia danych osobowych</li>
          <li>wniesienia sprzeciwu wobec dalszego przetwarzania</li>
          <li>wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych, gdy uznają Państwo, iż przetwarzanie Państwa danych osobowych narusza prawo</li>
          <li>żądania ograniczenia przetwarzania danych osobowych</li>
        </ul>

        <p>
          Proszę pamiętać, że udzieloną zgodę na przetwarzanie mają Państwo prawo cofnąć w każdym czasie bez wpływu na ważność przetwarzania dokonanego na podstawie zgody przed jej cofnięciem.
        </p>
          
          <h5>Polityka cookies</h5>

          <p>Poniższa Polityka Cookies określa zasady zapisywania i uzyskiwania dostępu do danych na Urządzeniach Użytkowników korzystających z Serwisu do celów świadczenia usług drogą elektroniczną przez Administratora Serwisu.</p>
  
          <h6>§ 1 Rodzaje Cookies</h6>
          <ul>
              <li>
                  <p><strong>Cookies wewnętrzne</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przes system teleinformatyczny Serwisu</p>
              </li>
              <li>
                  <p><strong>Cookies zewnętrzne</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez systemy teleinformatyczne Serwisów zewnętrznych</p>
              </li>
              <li>
                  <p><strong>Cookies sesyjne</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis <span>lub Serwisy zewnętrzne</span> podczas jednej sesji danego Urządzenia. Po zakończeniu
                      sesji pliki są usuwane z Urządzenia Użytkownika.</p>
              </li>
              <li>
                  <p><strong>Cookies trwałe</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis <span>lub Serwisy zewnętrzne</span> do momentu ich ręcznego usunięcia. Pliki nie są usuwane
                      automatycznie po zakończeniu sesji Urządzenia chyba że konfiguracja Urządzenia Użytkownika jest ustawiona na tryb usuwanie plików Cookie po zakończeniu sesji Urządzenia.</p>
              </li>
          </ul>
  
          <h6>§ 2 Bezpieczeństwo</h6>
          <ul>
              <li>
                  <p><strong>Mechanizmy składowania i odczytu</strong> - Mechanizmy składowania i odczytu Cookies nie pozwalają na pobierania jakichkolwiek danych osobowych ani żadnych informacji poufnych z Urządzenia Użytkownika. Przeniesienie na Urządzenie
                      Użytkownika wirusów, koni trojańskich oraz innych robaków jest praktynie niemożliwe.</p>
              </li>
              <li>
                  <p><strong>Cookie wewnętrzne</strong> - zastosowane przez Administratora Cookie wewnętrzne są bezpieczne dla Urządzeń Użytkowników</p>
              </li>
              <li>
                  <p><strong>Cookie zewnętrzne</strong> - za bezpieczeństwo plików Cookie pochodzących od partnerów Serwisu Administrator nie ponosi odpowiedzialności. Lista partnerów zamieszczona jest w dalszej części Polityki Cookie.</p>
              </li>
          </ul>
  
          <h6>§ 3 Cele do których wykorzystywane są pliki Cookie</h6>
          <ul>
              <li>
                  <p><strong><span>Usprawnienie i ułatwienie dostępu do Serwisu</span></strong> - Administrator może przechowywać w plikach Cookie informacje o prefernecjach i ustawieniach użytkownika dotyczących Serwisu aby usprawnić,
                      polepszyć i przyśpieszyć świadczenie usług w ramach Serwisu.</p>
              </li>
              <li>
                  <p><strong><span>Logowanie</span></strong> - Administrator wykorzystuje pliki Cookie do celów logowania Użytkowników w Serwisie</p>
              </li>
              <li>
                  <p><strong><span>Marketing i reklama</span></strong> - Administrator <span>oraz Serwisy zewnętrzne</span> wykorzystują pliki Cookie do celów marketingowych oraz serwowania reklam Użytkowników, z</p>
              </li>
              <li>
                  <p><strong><span>Dane statystyczne</span></strong> - Administrator <span>oraz Serwisy zewnętrzne</span> wykorzystuje pliki Cookie do zbierania i przetwarzania danych statystycznych takich
                      jak np. statystyki odwiedzin, statystyki Urządzeń Użytkowników czy statystyki zachowań użytkowników. Dane te zbierane są w celu analizy i ulepszania Serwisu.</p>
              </li>
              <li>
                  <p><strong><span>Serwowanie usług multimedialnych</span></strong> - Administrator <span>oraz Serwisy zewnętrzne</span> wykorzystuje pliki Cookie do serwowania Użytkownikom usług multimedialnych.</p>
              </li>
              <li>
                  <p><strong><span>Usługi społecznościowe</span></strong> - Administrator <span>oraz Serwisy zewnętrzne</span> wykorzystują pliki Cookie do wsparcia usług społecznościowych</p>
              </li>
          </ul>
          <h6>§ 4 Serwisy zewnętrzne</h6>
          <p><span>Administrator współpracuje z następującymi serwisami zewnętrznymi, które mogą zamieszczać pliki Cookie na Urządzeniach Użytkownika:</span></p>
          <ul>
              <li>
                  <p><strong><span>Google Analytics</span></strong></p>
              </li>
              <li>
                  <p><strong><span>Google AdSense</span></strong></p>
              </li>
              <li>
                  <p><strong><span>Google AdWords</span></strong></p>
              </li>
              <li>
                  <p><strong><span>Google+</span></strong></p>
              </li>
              <li>
                  <p><strong><span>Facebook</span></strong></p>
              </li>
              <li>
                  <p><strong><span>Twitter</span></strong></p>
              </li>
              <li>
                  <p><strong><span>AddThis</span></strong></p>
              </li>
              <li>
                  <p><strong><span>Youtube</span></strong></p>
              </li>
              <li>
                  <p><strong><span>Vimeo</span></strong></p>
              </li>
              <li>
                  <p><strong><span>FontAwesome</span></strong></p>
              </li>
          </ul>
          <h6>§ 5 Możliwości określania warunków przechowywania i uzyskiwania dostępu na Urządzeniach Użytkownika przez Serwis<span> i Serwisy zewnętrzne</span></h6>
          <ul>
              <li>
                  <p>Użytkownik może w dowolnym momencie, samodzielnie zmienić ustawienia dotyczące zapisywania, usuwania oraz dostępu do danych zapisanych plików Cookies</p>
              </li>
  
              <li>
                  <p>Użytkownik może w dowolnym momencie usunąć wszelkie zapisane do tej pory pliki Cookie korzystając z narzędzi Urządzenia Użytkownika za pośrednictwem którego Użytkownik korzysta z usług Serwisu.</p>
              </li>
          </ul>
          <h6>§ 6 Wymagania Serwisu</h6>
          <ul>
              <li>
                  <p>Ograniczenie zapisu i dostępu do plików Cookie na Urządzeniu Użytkownika może spowodować nieprawidłowe działanie niektórych funkcji Serwisu.</p>
              </li>
              <li>
                  <p>Administrator nie ponosi żadnej odpowiedzialności za nieprawidłowo działające funkcje Serwisu w przypadku gdy Użytkownik ograniczy w jakikolwiek sposób możliwość zapisywania i odczytu plików Cookie.</p>
              </li>
          </ul>
          <h6>§ 7 Zmiany w Polityce Cookie</h6>
          <ul>
              <li>
                  <p>Administrator zastrzega sobie prawo do dowolnej zmiany niniejszej Polityki Cookie bez konieczności informowania o tym użytkowników.</p>
              </li>
              <li>
                  <p>Wprowadzone zmiany w Polityce Cookie zawsze będą publikowane na tej stronie.</p>
              </li>
              <li>
                  <p>Wprowadzone zmiany wchodzą w życie w dniu publikacji Polityki Cookie.</p>
              </li>
          </ul>
          <button class="closeBtn">
            Close
          </button>
      </div>
    </section>

    <div class="cookies">
      <div class="wrapper">

        <div class="cookies__content">
          <p>
            We use cookies
          </p>
        <div>

        <div class="cookies__links">
          <a 
            terget="blank"
            class="cookies__link cookies__button--more"
            title="Więcej"
            >Learn more
          </a>

          <a 
            title="Ok"
            class="cookies__link cookie__button--accept"
            >Understood
          </a>
        </div>

      </div>
    </div>
  </body>

</html>