<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatibile" content="IE=edge">
    <script src="https://kit.fontawesome.com/ea48605765.js" crossorigin="anonymous"></script>
    <title>AutoKonkret</title>
    <meta 
      name="description" 
      content="Nasze doświadczenie oraz podejście dydaktyczne 
      pozwala na dostosowanie toku nauki do waszych 
      indywidualnych predyspozycji i potrzeb."
    >
    <meta 
      name="keywords" 
      content="torun, toruń, szkoła, szkola, nauki, jazdy, toruniu, Toruniu, tanio, prawojazdy, 
      prawo, jazdy, auto, samochód samochod, driving, license, o.s.k, O.S.K, ośrodek, osrodek, 
      szkolenia, kierowcow, kierowców, doswiadczenie, doświadczenie, auto, konkret, 
      auto-konkret, wschodnia, toyota"
    >
    <meta name="robots" content="follow, index">
    <meta name="author" content="lubomskirafal.pl">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="data/site.webmanifest">
    <link rel="mask-icon" href="#" color="#ffffff">
    <meta property="og:url" content="www.yours-name.com">
    <meta property="og:title" content="AutoKonkret.pl">
    <meta property="media-image" content="#">
    <meta property="ogimage:width" content="200px">
    <meta 
      property="og:description" 
      content="Nasze doświadczenie oraz podejście dydaktyczne 
      pozwala na dostosowanie toku nauki do waszych 
      indywidualnych predyspozycji i potrzeb."
    >
    <meta property="og:type" content="webpage">

    
  </head>

  <body>
    <h2 class="hidden">AutoKonkret</h2>
    <nav class="mainManu">
      
      <div class="wrapper">
        <h2 class="hidden">Nawigacja</h2>
        <div class="logo">
          <a href="index.html">
            <img class="logo__img" src="images/favicons/safari-pinned-tab.svg" alt="logo">
            <span class="logo__text">
              AutoKonkret
            </span>
          </a>
        </div>

        <ul class="manu">
          <li></li>
          <li class="manu__item">
            <a href="#" class="manu__item-link">główna</a>
          </li>

          <li class="manu__item">
            <a href="#" class="manu__item-link">o nas</a>
          </li>

          <li class="manu__item">
            <a href="#" class="manu__item-link">oferta</a>
          </li>

          <li class="manu__item">
            <a href="#" class="manu__item-link">galeria</a>
          </li>

          <li class="manu__item">
            <a href="mailto:twojemail@twoja nazwa.pl" class="manu__item-link">kontakt</a>
          </li>

        </ul>

          <button class="hamburger">

            <div class="hamburger__box">
              <span class="hamburger__inner"></span>
            </div>

          </button>

      </div>
    </nav>

    <header class="header">

      <div class="background">
        <div class="background__content"></div>
      </div>

      <div class="wrapper">
        <div class="welcome">
          <hgroup class="welcome__titles">
            <h1>Witaj w szkole nauki jazdy AutoKonkret</h1>
            <p>Zapoznaj się z ofertą i zapisz się jeszcze dziś</p>
          </hgroup>
          <button class="welcome__button">
            <a href="mailto:kontakt@lubomskirafal.pl" target="blank">Zapisz się !</a>
          </button>
        </div>
      </div>

      <button data-target="#about" class="goDown-btn">
        <div class="goDown-btn__box">
          <span class="goDown-btn__inner fas fa-chevron-down"></span>
          <span class="goDown-btn__inner fas fa-chevron-down"></span>
          <span class="goDown-btn__inner fas fa-chevron-down"></span>
        </div>
      </button>

    </header>

    <main class="main">
      <section class="about">
        <div class="wrapper">
          <div class="about__box about__box--title">
            <h2 class="about__title">O nas</h2>
          </div>

          <div class="about__wrapper">
            <div class="about__box-wrapper">
              <div class="about__box">
                <p class="about__content-title">doświadczenie</p>
                <p class="about__content">
                  Już od ponad 15 lat szkolimy kierowców, przekazując im najwyższej jakości umiejętności praktycze i rzetelną wiedzę, niezbędną do podejmowania właściwych decyzji na drodze.
                </p>
              </div>

              <div class="about__box">
                <p class="about__content-title">liczysz się ty</p>
                <p class="about__content">
                  Wiemy że masz dużo obowiązków, dlatego wychodząc na przeciw Twoim oczekiwaniom, organizujemy jazdy, bezpośrednio z Twojego miejsca zamieszkania, aby nie tracić czasu na dojazdy.
                  Godiny wykładów dostosowywane są do wymagań słuchaczy.
                  Istnieje możliwość wykonania badań lekarskich, bezpośrednio w ośrodku szkoleniowym.
                </p>
              </div>

              <div class="about__box">
                <p class="about__content-title">Atmosfera</p>
                <p class="about__content">
                  Wykłady prowadzimy w domowej atmosferze, aby w możliwie przystępny sposób, przekazać Ci nasze doświadczenie. 
                  W przerwach między wykładami, oddajemy do Twojej dyspozycji taras wypoczynkowy oraz gorące napoje.
                </p>
              </div>
            </div>

            <div class="about__box about__box--img">
              <img class="about__img" src="images/car-1149997_1280.jpg" alt="auto">
            </div>
          </div>
        </div>
      </section>

      <section class="offer">
          <div class="wrapper">
            <div class="offer__box offer__box--title">
              <h2 class="offer__title">Oferta</h2>
            </div>

            <div class="offer__boxes">
              <div class="offer__box">
                  <p class="offer__content-title">
                    Promocyjna oferta! 
                  </p>

                  <ul class="offer__box-list">
                    <li class="offer__box-list-item">
                      Kurs na kategorię B - 1000 PLN
                    </li>

                    <li class="offer__box-list-item">
                      Badanie lekarskie na miejscu - 50 PLN
                    </li>
                    <li class="offer__box-list-item">
                      Kurs pierwszej pomocy
                    </li>
                    <li class="offer__box-list-item">
                      Na czas trwania kursu zapewniamy kursantom materiały do nauki.
                    </li>
                  </ul>
              </div>

              <div class="offer__box">
                  <p class="offer__content-title">Profil kandydata na kierowcę
                  </p>
                  <p class="offer__content">
                    Przed rozpoczęciem kursu na każdą nową kategorię prawa jazdy potrzebujesz numer PKK. Jest to elektroniczny dokument zawierający informacje związane z Twoim prawem jazdy. Wydaje go Wydział Komunikacji odpowiedni dla Twojego miejsca zameldowania.
                </p>
              </div>

              <div class="offer__box">
                  <p class="offer__content-title">Wymagane dokumenty:
                  </p>

                  <ul class="offer__box-list">
                    <li class="offer__box-list-item">
                      Badanie lekarskie potwierdzające brak przeciwskazan. Możesz je wykonać w naszym ośrodku.
                    </li>

                    <li class="offer__box-list-item">
                      1 zdjęcie do prawa jazdy o wymiarach 3,5 cm x 4,5 cm z wizerunkiem od przodu
                    </li>
                    <li class="offer__box-list-item">
                      Dokument tożsamości.
                    </li>
                    <li class="offer__box-list-item">
                      Ksero prawa jazdy.
                    </li>
                  </ul>
              </div>
            </div>

            <button class="welcome__button welcome__button--offer">
            <a href="mailto:kontakt@lubomskirafal.pl" target="blank">Zapisz się !</a>
          </button>

          </div>
      </section>

      <section class="gallery">
        <div class="wrapper">
          <h2 class="hidden">Galeria</h2>
          <a 
            class="gallery__link" 
            href="images/automotive-1866521_1280.jpg"
          >
            <img class="gallery__link-img" alt="stock img" src="images/automotive-1866521_1280.jpg">
          </a>   
          <a 
            class="gallery__link" 
            href="images/automotive-1866521_1280.jpg"
          >
            <img class="gallery__link-img" alt="stock img" src="images/automotive-1866521_1280.jpg">
          </a>   
          <a 
            class="gallery__link" 
            href="images/automotive-1866521_1280.jpg"
          >
            <img class="gallery__link-img" alt="stock img" src="images/automotive-1866521_1280.jpg">
          </a>   
          <a 
            class="gallery__link" 
            href="images/automotive-1866521_1280.jpg"
          >
            <img class="gallery__link-img" alt="stock img" src="images/automotive-1866521_1280.jpg">
          </a>   
          <a 
            class="gallery__link" 
            href="images/automotive-1866521_1280.jpg"
          >
            <img class="gallery__link-img" alt="stock img" src="images/automotive-1866521_1280.jpg">
          </a>   
          <a 
            class="gallery__link" 
            href="images/automotive-1866521_1280.jpg"
          >
            <img class="gallery__link-img" alt="stock img" src="images/automotive-1866521_1280.jpg">
          </a>   
          <a 
            class="gallery__link" 
            href="images/automotive-1866521_1280.jpg"
          >
            <img class="gallery__link-img" alt="stock img" src="images/automotive-1866521_1280.jpg">
          </a>   
          <a 
            class="gallery__link" 
            href="images/automotive-1866521_1280.jpg"
          >
            <img class="gallery__link-img" alt="stock img" src="images/automotive-1866521_1280.jpg">
          </a>     
        </div>  
      </section>

      <div class="paralax__wrapper">
        <p>Profesjonalnie od lat</p>
        <div class="paralax">
          <div class="paralax__box">
            <div class="paralax__inner"></div>
          </div>
        </div>
      </div>

      <section class="contact">
        <div class="wrapper">

        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="wrapper">

        <div class="footer__media">
          <a href="https://facebook.com/WebDev-wwwlubomskirafalpl-100742734819435/" target="_blank">
            <span class="fab fa-facebook"></span>
          </a>

          <a href="https://linkedin.com/in/lubomskirafal" target="_blank">
            <span class="fab fa-linkedin-in"></span>
          </a>
          <a href="mailto:kontakt@lubomskirafal.pl">
            <span class="far fa-envelope"></span>
          </a>
        </div>

        <div class="footer__copy">
          Copyright <sup>&copy;</sup> AutoKonkret.pl
        </div>

        <div class="footer__madeBy">
          <div class="footer__madeBy-box">
            <span class="footer__madeBy-title">Wykonanie </span>
            <a 
              href="https://lubomskirafal.pl"
              target="blank"
              class="footer__madeBy-link"
            >
              <img 
                src="images/favicons/lubomski-safari-pinned-tab.svg"
                class="footer__madeBy-img"
              > 
              lubomskirafal.pl
            </a>
          </div>
        </div>

        <div class="footer__cookies">
            <a 
              href="#" 
              target="blank"
              class="footer__cookies-link">
              Polityka Cookies
            </a>
        </div>

        <div class="footer__rodo">
            <a 
              href="#" 
              target="blank"
              class="footer__cookies-link">
              Polityka RODO
            </a>
        </div>

      </div>
    </footer>
  </body>

</html>
