.about {
    padding: 20px;
    color: $second-fc;
    background-color: $main-bgc;
    
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include media(large) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__title {
        font-size: 3rem;
        color: $special-color;
        font-weight: 100;
        text-transform: uppercase;
    }
    &__box{
        margin: 0 0 20px 0;
        text-align: left;
        
        &--title {
            align-self: flex-start;
            
        }
        &--img {
            position: relative;
            max-width: 800px;
            margin: 0 0 0 0 ;
            overflow: hidden;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 2px;
                max-width: 800px;
                background-color: rgba($second-fc, .5);
            }
        }
        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            @include media(large) {
                justify-content: flex-start;
            }
        }
        @include media(large) {
            width: 500px;
        }
    }
    &__content-title {
        font-size: 1.6rem;
        text-transform: uppercase;
        margin: 0 0 5px 0 ;
    }
    &__content {
        font-size: 1rem;
        letter-spacing: 1px;
        color: $third-fc;
    }
    &__img{
        width: 100%;
        border-radius: 2px;
        
    }
}