.footer {
    width: 100%;
    color: $main-fc;
    font-size: .8rem;
    background-color: #222;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
        @include media(xlarge) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__media {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        font-size: 2rem;
        width: 150px;
        a {
            border: 2px solid $main-fc;
            width: 50px;
            height: 50px;
            padding: 10px;
            border-radius: 50%;
            transition: transform .2s linear, border .3s linear;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                transition: transform .2s linear;
                transform-origin: center;      
            }
            &:hover,
            &:focus {
                transform: scale(.8);
                border: 1px solid transparent ;
                transition: transform .2s linear, border .3s linear;
                span {
                    transform: scale(1.8) ;
                }
            }
        }
    }
    &__copy {
        margin: 10px 0 0 0;
        sup {
            font-size: .8rem;
        }
    }
    &__madeBy {
        margin: 10px 0 0 0;
        &-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 5px;
        }
        &-link {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            font-size: .8rem;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                height: 1px;
                width: 75%;
                transform: scaleX(0);
                transition: transform   .3s;
                transform-origin: center;
                background-color: $main-bgc;
            }
            &:hover,
            &:focus {
                &::after {
                    transform: scaleX(1);
                }
            }
            
        }
        &-img {
            margin: 0 5px ;
            width: 20px;
        }
    }
    &__cookies,
    &__rodo {
        margin: 10px 0;
        &-link {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                height: 1px;
                width: 100%;
                transform: scaleX(0);
                transition: transform   .3s;
                transform-origin: center;
                background-color: $main-bgc;
            }
            &:hover,
            &:focus {
                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}
