.gallery {
    padding: 50px 10px;
    width: 100%;
    background-color: $main-bgc;
    & .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fit, 1fr);
        gap: 10px;
        justify-items: center;
        align-content: center;
    }
    &__link {
        overflow: hidden;
        &-img {
            width: 250px;
            border-radius: 3px;
            box-shadow: 3px 3px 3px -1px $main-box-shadow;
            transition: transform .5s;
            &:hover {
                transform: scale(1.1) rotate(4deg);
            }
        }
    }
}
