.gallery {
    padding: 50px 10px;
    width: 100%;
    background-color: $main-bgc;
    & .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fit, 1fr);
        gap: 10px;
        justify-items: center;
        align-content: center;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        overflow: hidden;
        box-shadow: 0 0  3px -1px $main-box-shadow;
        &-img {
            width: 250px;
            border-radius: 3px;
            transition: transform .5s ease;
            &:hover {
                transform: scale(1.2) rotate(4deg);
            }
        }
        &:focus {
            .gallery__link-img {
                transform: scale(1.2) rotate(4deg);
            }
        }
    }
}
