.logo {
    a {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img {
        width: 30px;
        margin: 0 5px 0 0 ;
    }
    &__text {
        font-size: 1.6rem;
        color: #fff;
    }
}