a {
    color: $main-fc;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
    
}

li,a,button {
    &:focus {
        box-shadow: 0 0 3px 1px orangered;
    }
}

button {
    &:hover {
        cursor: pointer;
}

.hidden {
    position: absolute;
    color: transparent;
    background-color: transparent;
    visibility: hidden;
    font-size: 0;
    width: 0;
    z-index: -99;
    transform: translate(-100vw, -100vh);
}