$breakpoints: (
    xsmall:(min-width:460px),
    small:(min-width:640px),
    medium:(min-width:800px),
    large:(min-width:1024px),
    xlarge:(min-width:1200px),
    xxlarge:(min-width:1440px),
);


$main-fc: #fff;
$second-fc: #000;
$third-fc:#333;
$special-color: orangered;

$main-box-shadow: #fff;
$main-bgc: #fff;
$second-bgc: #000;
$third-bgc:#333;